{% extends 'main.html' %}

{% block content %}
<div class="container">
    {% if Budget == None %}
      <h1> Déclarer une masse salariale réelle </h1>
    {% else %}
      <h1> Modifier la masse salariale réelle </h1>
    {% endif %}
    
      <form method = "post" enctype="multipart/form-data" novalidate>
        <h5>Période salariée</h5>

        <div class="row">
         <div class="form-group col-md-4">
            <label for = "id_member">Salarié</label><br>
            {{ form.id_member(class="form-control") }}
            {% for error in form.id_member.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div> 
          <div class="form-group col-md-4">
            <label for = "date_min_period">Début de la période salariée</label><br>
              {{ form.date_min_period(class="form-control") }}
              {% for error in form.id_member.errors %} 
                <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
              {% endfor %}
          </div>
          <div class="form-group col-md-4">
            <label for = "date_max_period">Fin de la période salariée</label><br>
            {{ form.date_max_period(class="form-control") }}
            {% for error in form.id_member.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div> 
          <div class="form-group col-md-4">
            <label for = "real_worked_days">Nombre réel de jours travaillés</label><br>
            {{ form.real_worked_days(class="form-control") }}
            {% for error in form.id_member.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div> 
        </div>

        <br><br>

        <h5>Masse salariale</h5>
        <div class="row">
           <div class="form-group col-md-4">
            <label for = "member_net_gain">Rémunération nette perçue (primes incluses)</label>
            <br>
            {{ form.member_net_gain(class="form-control") }}
            <small class="text-muted">Le séparateur de décimale doit être un point</small>
            {% for error in form.id_member.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div>
          <div class="form-group col-md-4">
            <label for = "member_charge_amount">Charges salariales</label><br>
            {{ form.member_charge_amount(class="form-control") }}
            <small class="text-muted">Le séparateur de décimale doit être un point</small>
            {% for error in form.id_member.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div> 
          <div class="form-group col-md-4">
            <label for = "employer_charge_amount">Charges patronales</label><br>
            {{ form.employer_charge_amount(class="form-control") }}
            <small class="text-muted">Le séparateur de décimale doit être un point</small>
            {% for error in form.id_member.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div>
        </div>
        <br><br>
        <input class="btn btn-primary float-right" type = "submit" value = "Enregistrer" />
      </form>
</div>
{% endblock %}