{% extends 'main.html' %}

{% block content %}
<div class="container">
    {% if funder == None %}
	<h1> Ajouter un nouveau financeur </h1>
    {% else %}
    <h1> Modifier "{{funder.name}}" </h1>
    {% endif %}

      <form method = "post" novalidate>
        <div class="row">

          <div class="form-group col-md-8">
            <label for = "name"><strong>Nom du financeur *</strong></label><br>
                {{ form.name(class="form-control") }}
                <small class="text-muted">50 caractères maxi.</small>
                {% for error in form.name.errors %} 
                   <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                {% endfor %}
            <br>
          </div>

          <div class="form-group col-md-4">
            <label for = "code">Code du financeur</label><br>
                {{ form.code(class="form-control") }}
                <small class="text-muted">10 caractères maxi.</small>
                {% for error in form.code.errors %} 
                   <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                {% endfor %}
            <br><br>
          </div>
        </div>

        <div class="form-group">
         <label for = "address"><strong>Adresse *</strong></label><br>
            {{ form.address(class="form-control") }}
            {% for error in form.address.errors %} 
                   <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
         <br>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for = "zip_code"><strong>Code postal *</strong></label><br>
                {{ form.zip_code(class="form-control") }}
                {% for error in form.zip_code.errors %} 
                   <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                {% endfor %}
            <br>
          </div>

          <div class="form-group col-md-8">
            <label for = "city"><strong>Ville *</strong></label><br>
                {{ form.city(class="form-control") }}
                {% for error in form.city.errors %} 
                   <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                {% endfor %}
            <br><br>
          </div>
        </div>

        <div class="form-group">
         <label for = "comment"><strong>URL du logo *</strong></label><br>
            {{ form.logo_url(class="form-control") }}
            {% for error in form.logo_url.errors %} 
                   <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
         <br>
        </div>

        <div class="form-group">
         <label for = "comment">Remarque</label><br>
            {{ form.comment(class="form-control") }}
            {% for error in form.comment.errors %} 
                   <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
         <br>
        </div>

        <div class="form-check">
         <label for = "active">Actif</label>
         {{ form.active(class="form-check-input", checked=active) }}
         <br>
         <br>
        </div>

        <div  class="btn btn-group">
            <a class="btn btn-danger" href="{{ url_for('funders') }}"> Annuler </a>
            <input class="btn btn-primary float-right" type = "submit" value = "Enregistrer" />
        </div>
      </form>
</div>
{% endblock %}