{% extends 'main.html' %}


{% block content %}
<div class="container">
  <div class="home-header">
    <h1> Bienvenue sur FlaviaCompta ! </h1>
    <h5> L'application de comptabilité de Flavia APE </h5>
  </div>

  <div class="card">
    <div class="card-header">
      <h4><i class="fa fa-eye"></i>  Consulter et gérer </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 d-grid">
          <a  class="btn btn-primary btn-lg home-btn" href="{{url_for('accounts')}}" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://cdn.pixabay.com/photo/2016/11/22/21/26/notebook-1850613_1280.jpg'); background-size: cover; background-repeat: no-repeat;" > <i class="fa fa-credit-card"></i> Mes comptes </a>
        </div>
        <div class="col-md-4 d-grid">
          <a class="btn btn-primary btn-lg home-btn" href="{{url_for('budgets')}}" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://cdn.pixabay.com/photo/2018/04/05/15/53/office-work-3293203_1280.jpg'); background-size: cover; background-repeat: no-repeat;"> <i class="fa fa-server"></i> Mes budgets </a>
        </div>
        <div class="col-md-4 d-grid">
          <a class="btn btn-primary btn-lg home-btn disabled" href="{{url_for('results')}}" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://cdn.pixabay.com/photo/2016/06/03/13/57/digital-marketing-1433427_1280.jpg'); background-size: cover; background-repeat: no-repeat;" > <i class="fa fa-file-text"></i> Obtenir un bilan <br> (à venir) </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4> <i class="fa fa-edit"></i>  Saisir une opération </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 d-grid">
          <a class="btn btn-warning btn-lg home-btn" href="{{url_for('addMovement', type_operation = 'Dépense')}}" > <i class="fa fa-sign-out"></i> Dépense</a>
        </div>
        <div class="col-md-4 d-grid">
          <a class="btn btn-warning btn-lg home-btn" href="{{url_for('commitments')}}"> <i class="fa fa-lock"></i> Engagement <br>(devis validé)</a>
        </div>
        <div class="col-md-4 d-grid">
          <a class="btn btn-success btn-lg home-btn" href="{{url_for('addMovement', type_operation = 'Recette')}}"> <i class="fa fa-sign-in"></i> Recette</a>
        </div>
        
        <div class="col-md-4 d-grid">
          <a class="btn btn-info btn-lg home-btn" href="{{url_for('addTransfer', type_transfer = 'Internal')}}"> <i class="fa fa-recycle"></i> Transfert de compte à compte</a>
        </div>
        <div class="col-md-4 d-grid">
          <a class="btn btn-info btn-lg home-btn" href="{{url_for('addTransfer', type_transfer = 'Refund')}}"> <i class="fa fa-eur"></i>  Remboursement de frais</a>
        </div>
        <div class="col-md-4 d-grid">
          <a class="btn btn-secondary btn-lg home-btn disabled" href="{{url_for('addMovement', type_operation = 'Recette')}}"> <i class="fa fa-car"></i> Note de frais des personnels <br> (à venir)</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}